body{
    background: #d9d9d9;
}
img{
    max-width: 50%;
    }
div {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 50px;
}


.rotateimg180 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

h1{
    font-size: 60px;
    margin-top: 0;
}
span{
    color: seagreen;
    text-transform: uppercase;
    text-shadow: 5px 10px 10px;
}
p{
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}